body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 138, 34);
    background: radial-gradient(circle, rgba(0, 138, 34, 1) 0%, rgba(45, 75, 18, 1) 100%);
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
    animation: fadeIn 3s ease-in-out;
}

.message {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation: sideIn 3s ease-in-out forwards;
    opacity: 0;
}

.text {
    font-size: 1.5rem;
}

.message.title {
    animation-delay: 1s;
    color: cadetblue;
}

.year {
    font-size: 5rem;
    font-weight: bold;
    color: #f39c12;
    animation: bounce 1s ease-out forwards infinite;
}

.conffeti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.conffeti div {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: fall 3s linear infinite, rotate 3s linear infinite;
    opacity: 0.8;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sideIn {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes fall {
    0%, 100% {
        transform: translateY(-100px);
        opacity: 1;
    }
    50% {
        transform: translateY(100vh);
        opacity: 0.5;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Variaciones de confeti */
.conffeti div:nth-child(odd) {
    background-color: cyan;
    animation-duration: 4s;
    animation-delay: calc(-2s * var(--random));
}

.conffeti div:nth-child(even) {
    background-color: yellow;
    animation-duration: 3s;
    animation-delay: calc(-1s * var(--random));
}
